/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    font-family: 'Roboto',
    sans-serif;
}
.btn-color{
    background-color:#F496D1;
    color: #3F87F5;
}
.round{
    border-radius: 20px;
}
.add-position{
    left: 95%;
}

.toast-style{
    width: 230px;
}
.plus-color{
    background-color: #6610F2;
}
.text-color{
    color: #6610F2;
}